.mainExplain {
    display: flex;
    flex-direction: column;
    padding: 50px 0px;
}

.contentExplain {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.contentExplain>* {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: 0.2s;
}

.contentExplain>*:hover {
    transform: scale(1.05);
}

.contentExplain>*>*:first-child {
    /* Description */
    height: 250px;
    display: flex;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}

.contentExplain>*>*:last-child {
    /* Description */
    font-size: 24px;
    font-weight: 600;
}